@using fb.Models
@using Microsoft.AspNet.Mvc.Facebook.Models
@model MyAppUser
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Design and Code an integrated Facebook App</title>
 
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
<link rel="stylesheet" type="text/css" href="/Images/Facebook/style.css">
<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
<script src="/Images/Facebook/myjava.js" type="text/javascript"></script>
 
</head>
 
<body>
<div class="wrapper">
 
    <div class="maincontent">        
         
        <ul class="tabs">
            <li><a href="https://www.apphb.com">Pengenalan tentang ASP.NET MVC 4</a></li>
            <li><a href="https://www.apphb.com">Menambah Controller</a></li>
            <li><a href="https://www.apphb.com">Menambah View</a></li>
            <li><a href="https://www.apphb.com">Menambah Model</a></li>
            <li><a href="https://www.apphb.com">Mengakses Data Model anda daripada Controller</a></li>
        </ul>
 
<div class="tab_container">
    <div id="tab1" class="tab_content">
     
          <div class="post">
        </div><!--End Blog Post-->
         
        <div class="post">
                <h3><a href="#">Pengenalan tentang ASP.NET MVC 4</a></h3>
                <span class="postInfo">oleh <a href="#">ZullDesign</a> pada 30 September, 2014</span>
                <p>Versi dikemaskini jika tutorial ini boleh didapati di sini dengan menggunakan Visual Studio 2013. tutorial baru menggunakan ASP.NET MVC 5, yang menyediakan lebih banyak penambahbaikan tutorial ini.</p>
                <p>Tutorial ini akan mengajar anda asas-asas membina ASP.NET MVC permohonan 4 web menggunakan Microsoft Visual Studio Express 2012 atau Visual Web Developer 2010 Express Service Pack 1 Visual Studio 2012 adalah disyorkan, anda tidak perlu memasang apa-apa untuk menyelesaikan tutorial. Jika anda menggunakan Visual Studio 2010 anda mesti memasang komponen-komponen di bawah. Anda boleh memasang semua daripada mereka dengan mengklik pautan berikut:</p>
                <p><ul>
                   <li><a href="https://www.microsoft.com/web/gallery/install.aspx?appid=VWD2010SP1Pack" target="_blank">Visual Studio Web Developer prasyarat SP1 Express</a></li>
                   <li><a href="https://go.microsoft.com/fwlink/?LinkID=243392" target="_blank">WPI installer untuk ASP.NET MVC 4</a></li>
                   <li><a href="https://www.microsoft.com/web/gallery/install.aspx?appid=SQLLocalDBOnly_11_0" target="_blank">LocalDB</a></li>
                   <li><a href="https://blogs.msdn.com/b/rickandy/archive/2012/08/02/installing-and-using-sql-server-data-tools-ssdt-on-visual-studio-2010-and-vwd.aspx" target="_blank">SSDT</a></li>                   
               </ul></p>
               <p>Jika anda menggunakan Visual Studio 2010 dan bukannya Visual Web Developer 2010, memasang <a href="https://go.microsoft.com/fwlink/?LinkID=243392" target="_blank">installer WPI untuk ASP.NET MVC 4</a> dan: <a href="https://www.microsoft.com/web/gallery/install.aspx?appsxml=&appid=VS2010SP1Pack" target="_blank">Visual Studio 2010 prasyarat</a></p>
               <p>A Visual Web Developer projek dengan kod C # sumber boleh didapati untuk mengiringi topik ini. <a href="https://code.msdn.microsoft.com/Intro-to-ASPNET-MVC-4-61d0219d" target="_blank">Muat turun versi C #</a>.</p>
               <p>Dalam tutorial anda menjalankan permohonan itu dalam Visual Studio. Anda juga boleh membuat permohonan yang boleh didapati melalui Internet dengan menggerakkan ia ke penyedia hosting. Microsoft menawarkan web hosting sehingga 10 laman web dalam <a href="http://azure.microsoft.com/en-us/pricing/free-trial/?WT.mc_id=A443DD604" target="_blank">akaun percubaan Windows Azure percuma</a>. Untuk maklumat mengenai bagaimana untuk menggerakkan satu projek Visual Studio web untuk Windows Azure Laman Web, lihat <a href="http://azure.microsoft.com/en-us/develop/net/" target="_blank">Cipta dan menggunakan laman web ASP.NET dan SQL Database dengan Visual Studio</a>. Tutorial yang juga menunjukkan bagaimana untuk menggunakan Rangka Kerja Entiti Kod migrasi Pertama anda untuk menggunakan pangkalan data SQL Server untuk Windows Azure SQL Pangkalan Data (dahulunya SQL Azure).</p>
               <p>Tutorial ini ditulis oleh ZullDesign ( <a href="https://www.facebook.com/appharbor" target="_blank">VisualStudioDev</a> ).</p>
               <p></p>
                <a class="more" href="#">Read More</a>
                <span class="line"></span>
                <a href="#">12 Likes 14 Comments Share</a>
                <span class="line"></span>
        </div><!--End Blog Post-->
         
    </div><!--End Tab 1-->
    
    <div id="tab2" class="tab_content">
 
<h3>Apa yang Anda akan Bina</h3>
<p>Versi dikemaskini jika tutorial ini boleh didapati <a href="https://www.asp.net/mvc/tutorials/mvc-5/introduction/getting-started" target="_blank">di sini</a> dengan menggunakan <a href="https://www.visualstudio.com/downloads/download-visual-studio-vs" target="_blank">Visual Studio 2013</a>. tutorial baru menggunakan ASP.NET MVC 5, yang menyediakan lebih banyak penambahbaikan tutorial ini.</p>
<p>Anda akan melaksanakan filem penyenaraian aplikasi mudah yang menyokong mencipta, mengedit, mencari dan menyenaraikan filem dari pangkalan data. Berikut adalah dua screenshot aplikasi yang anda akan membina. Ia termasuk halaman yang memaparkan senarai filem dari pangkalan data:</p>
<div><img src="/Images/Mvc4/P1_finished.PNG" width="621" height="470" alt="webdesigntuts+ logo"></div>
<p>Aplikasi ini juga membolehkan anda menambah, mengedit dan memadam filem, dan juga melihat maklumat tentang orang-orang individu. Semua senario kemasukan data termasuk pengesahan untuk memastikan bahawa data yang disimpan dalam pangkalan data adalah betul.</p>
<div><img src="/Images/Mvc4/Windows-Live-Writer_Examining-the-Edit-Methods-and-Edit-View_E344_abcNotValid_thumb.png" width="598" height="732" alt="webdesigntuts+ logo"></div>
<h3>Bermula</h3> 
<p>Mulakan dengan berjalan Visual Studio Express 2012 atau Visual Web Developer 2010 Express. Kebanyakan Gambar skrin dalam siri ini menggunakan Visual Studio 2012 Express, tetapi anda boleh melengkapkan tutorial ini dengan Visual Studio 2010 / SP1, Visual Studio 2012, Visual Studio Express 2012 atau Visual Web Developer 2010 Express</p>. 
<p>Pilih Projek Baru dari laman Mula.</p>
<p>Visual Studio adalah IDE, atau persekitaran pembangunan bersepadu. Sama seperti anda menggunakan Microsoft Word untuk menulis dokumen, anda akan menggunakan IDE untuk membuat aplikasi. Dalam Visual Studio ada toolbar bersama-sama atas menunjukkan pelbagai pilihan yang ada kepada anda. Terdapat juga menu yang menyediakan satu lagi cara untuk melaksanakan tugas-tugas dalam IDE. (Sebagai contoh, daripada memilih Projek Baru dari laman Start, anda boleh menggunakan menu dan pilih Fail> Projek Baru.)</p>
<div><img src="/Images/Mvc4/vwd11.png" width="615" height="566" alt="webdesigntuts+ logo"></div>   
<h3>Mewujudkan Permohonan pertama</h3>
<p>Anda boleh membuat aplikasi menggunakan sama ada Visual Basic atau Visual C # sebagai bahasa pengaturcaraan. Pilih Visual C # di sebelah kiri dan kemudian pilih ASP.NET MVC 4 Aplikasi Web. Namakan projek anda "MvcMovie" dan kemudian klik OK.</p>
<div><img src="/Images/Mvc4/NewProjectSm.PNG" width="630" height="668" alt="webdesigntuts+ logo"></div>
<p>Dalam New ASP.NET MVC 4 Projek kotak dialog, pilih Aplikasi Internet. Tinggalkan Razor sebagai enjin paparan lalai.</p>
<div><img src="/Images/Mvc4/newmvc4proj.png" width="589" height="537" alt="webdesigntuts+ logo"></div>
<p>Klik OK. Visual Studio menggunakan templat lalai untuk projek ASP.NET MVC yang baru anda buat, supaya anda mempunyai aplikasi kerja sekarang tanpa melakukan apa-apa! Ini adalah mudah "Hello World!" projek, dan ia tempat yang baik untuk memulakan aplikasi anda.</p>
<div><img src="/Images/Mvc4/VisualStudioMvcMovieSm.PNG" width="613" height="563" alt="webdesigntuts+ logo"></div>
<p>Dari menu Debug, pilih Mula Debugging.</p>
<div><img src="/Images/Mvc4/StartWithoutDebug.png" width="614" height="564" alt="webdesigntuts+ logo"></div>
<p>Perhatikan bahawa jalan pintas papan kekunci untuk memulakan debugging adalah F5.</p>
<p>F5 menyebabkan Visual Studio untuk memulakan IIS Express dan menjalankan aplikasi web anda. Visual Studio kemudian melancarkan pelayar dan membuka laman utama aplikasi. Perhatikan bahawa bar alamat pelayar mengatakan localhost dan tidak sesuatu seperti example.com. Itu kerana localhost sentiasa menghala ke komputer tempatan anda sendiri, yang dalam kes ini sedang berjalan aplikasi yang anda hanya dibina. Apabila Visual Studio menjalankan projek web, port rawak digunakan untuk pelayan web. Dalam gambar di bawah, nombor port adalah 41788. Apabila anda menjalankan aplikasi, anda mungkin akan melihat nombor port yang berbeza.</p>
<div><img src="/Images/Mvc4/YourProjectWillHave.PNG" width="668" height="520" alt="webdesigntuts+ logo"></div>
<p>Keluar dari kotak template lalai ini memberi anda Home, kenalan dan Mengenai halaman. Ia juga menyediakan sokongan untuk mendaftar dan log masuk, dan pautan kepada Facebook dan Twitter. Langkah seterusnya adalah untuk mengubah bagaimana aplikasi ini berfungsi dan belajar sedikit tentang ASP.NET MVC. Menutup pelayar anda dan mari kita menukar beberapa kod.</p>
</div><!--End Tab 2 -->
     
    <div id="tab3" class="tab_content">

    <div class="tabHeader">Categories</div>
            
               <ul>
                   <li><a href="#">Sample Cat 1</a></li>
                   <li><a href="#">Sample Cat 2</a></li>
                   <li><a href="#">Sample Cat 3</a></li>
                   <li><a href="#">Sample Cat 4</a></li>
                   <li><a href="#">Sample cat 5</a></li>
               </ul>
            
           <div class="tabHeader">A Little Bit About Us</div>     

    </div><!--End Tab 3 -->
     
    <div id="tab4" class="tab_content">

    Code Block showing tabs headers
    
    </div><!--End Tab 4 -->
 
</div><!--End Tab Container -->
     
  </div><!--End Main Content-->
     
    <div class="sidebar">

    The Search Filter
    <form action="" method="get">
            <input name="search" class="search" placeholder="Filter webdesigntuts+ posts">
            </form>

    Facebook Like and Button
    <a class="button left" href="http://webdesign.tutsplus.com/" target="_blank"><span class="buttonimage left"></span>Website</a>
           <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=253432341349745&amp;xfbml=1"></script><fb:like href="http://apps.facebook.com/fbtuttts"layout="button_count" width="75" show_faces="true" action="like" font="lucida grande"></fb:like>
           <a class="button right" href="#"><span class="buttonimage left"></span>Logout</a>

    Tab Headers
    <div class="tabHeader">Categories</div>
            
               <ul>
                   <li><a href="#">Sample Cat 1</a></li>
                   <li><a href="#">Sample Cat 2</a></li>
                   <li><a href="#">Sample Cat 3</a></li>
                   <li><a href="#">Sample Cat 4</a></li>
                   <li><a href="#">Sample cat 5</a></li>
               </ul>
            
           <div class="tabHeader">A Little Bit About Us</div>    
    
    </div><!--End Sidebar-->
</div><!--End Wrapper -->
 
 
</body>
</html>