@using fb.Models
@using Microsoft.AspNet.Mvc.Facebook.Models
@model MyAppUser
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Design and Code an integrated Facebook App</title>
 
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
<link rel="stylesheet" type="text/css" href="/Images/Facebook/style.css">
<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
<script src="/Images/Facebook/myjava.js" type="text/javascript"></script>
 
 
</head>
 
<body>
<div class="wrapper">
 
    <div class="maincontent">
     
        <div class="logo"><img src="/Images/Facebook/logo.png" width="379" height="60" alt="webdesigntuts+ logo"></div>
         
        <ul class="tabs">
            <li><a href="#tab1">All</a></li>
            <li><a href="#tab2">About</a></li>
            <li><a href="#tab3">Write For Us</a></li>
            <li><a href="#tab4">Other Blogs</a></li>
        </ul>
 
<div class="tab_container">
    <div id="tab1" class="tab_content">
     
          <div class="post">
        </div><!--End Blog Post-->
         
        <div class="post">
                <h3><a href="#">Pengenalan tentang ASP.NET MVC 4</a></h3>
                <span class="postInfo">oleh <a href="#">ZullDesign</a> pada 30 Julai, 2014 dengan 2 ulasan</span>
                <p>An updated version if this tutorial is available
<a href="http://www.asp.net/mvc/tutorials/mvc-5/introduction/getting-started">
here</a> using <a href="http://www.microsoft.com/visualstudio/eng/2013-downloads">Visual 
Studio 2013</a>.&nbsp; The new tutorial uses ASP.NET MVC 5, which provides many 
improvements over this tutorial.</p>
<p>This tutorial will teach you the basics of building an ASP.NET MVC 4 <span style="font-weight: bold; height: 13px;" id="qca8nk_2" class="qca8nk">Web</span> 
application using <span style="font-weight: bold; height: 13px;" id="qca8nk_1" class="qca8nk">Microsoft</span>
<a href="http://www.microsoft.com/visualstudio/11/en-us/products/express">Visual 
Studio Express 2012</a> or Visual Web Developer 2010 Express <span style="font-weight: bold; height: 13px;" id="qca8nk_4" class="qca8nk">Service Pack</span> 1. 
Visual Studio 2012 is recommended, you won't need to <span style="font-weight: bold; height: 13px;" id="qca8nk_3" class="qca8nk">install</span> anything to 
complete the tutorial. If you are using Visual Studio 2010 you must install the 
components below. You can install all of them by clicking the following links:</p>
<ul>
	<li>
	<a href="http://www.microsoft.com/web/gallery/install.aspx?appid=VWD2010SP1Pack">
	Visual Studio Web Developer Express SP1 prerequisites</a> </li>
	<li><a href="http://go.microsoft.com/fwlink/?LinkId=243392">WPI installer for 
	ASP.NET MVC 4<span class="style1"> </span></a></li>
	<li>
	<a href="http://www.microsoft.com/web/gallery/install.aspx?appid=SQLLocalDBOnly_11_0">LocalDB</a>&nbsp; </li>
	<li>
	<a href="http://blogs.msdn.com/b/rickandy/archive/2012/08/02/installing-and-using-sql-server-data-tools-ssdt-on-visual-studio-2010-and-vwd.aspx">
	SSDT</a></li>
</ul>
<p>If you're using Visual Studio 2010 instead of Visual Web Developer 2010, 
install the <a href="http://go.microsoft.com/fwlink/?LinkId=243392">WPI installer 
for ASP.NET MVC 4<span class="style1"> </span></a><span class="style1">
<a href="http://www.microsoft.com/web/gallery/install.aspx?appsxml=&amp;appid=MVC3">&nbsp;</a></span>and&nbsp; 
the:
<a href="http://www.microsoft.com/web/gallery/install.aspx?appsxml=&amp;appid=VS2010SP1Pack">
Visual Studio 2010 prerequisites</a> <br></p>
<p>A Visual Web Developer project with C# source code is available to accompany 
this topic.
<a href="http://code.msdn.microsoft.com/Intro-to-ASPNET-MVC-4-61d0219d/file/114480/1/MvcMovie.zip">Download the C# version</a>. </p>
<p>In the tutorial you run the application in Visual Studio. You can also 
make the application available over the Internet by deploying it to a <span style="font-weight: bold; height: 13px;" id="qca8nk_5" class="qca8nk">hosting</span> 
provider. Microsoft offers free web hosting for up to 10 web sites in a
<a href="http://www.windowsazure.com/en-us/pricing/free-trial/?WT.mc_id=A443DD604">
free Windows Azure trial account</a>. For information about how to deploy a 
Visual Studio web project to a Windows Azure Web Site, see
<a href="http://www.windowsazure.com/en-us/develop/net/compute/">Create and 
deploy an ASP.NET web site and SQL Database with Visual Studio</a>. That 
tutorial also shows how to use Entity Framework Code First Migrations to deploy 
your SQL Server database to Windows Azure SQL Database (formerly SQL Azure).</p>

<p>&nbsp; This tutorial was written by Rick 
Anderson ( <a href="https://twitter.com/#!/RickAndMSFT">@RickAndMSFT</a> ).</p>
</div>
<h2>What You'll Build</h2>
                <a class="more" href="#">Read More</a>
                <span class="line"></span>
                <a href="#">12 Likes 14 Comments Share</a>
                <span class="line"></span>
        </div><!--End Blog Post-->
         
    </div><!--End Tab 1-->
    
    <div id="tab2" class="tab_content">
 
<h3>About</h3>
<p>Webdesigntuts+ is a blog made to house and showcase some of the best web design tutorials and articles around. We publish tutorials that not only produce great results and interfaces, but explain the techniques behind them in a friendly, approachable manner.</p>
<p>Web design is a booming industry with a lot of competition. We hope that reading Webdesigntuts+ will help our readers learn a few tricks, techniques and tips that they might not have seen before and help them maximize their creative potential!</p>
<p><strong>Webdesigntuts+ is part of the Tuts+ Network</strong></p>
 
</div><!--End Tab 2 -->
     
    <div id="tab3" class="tab_content">

    <div class="tabHeader">Categories</div>
            
               <ul>
                   <li><a href="#">Sample Cat 1</a></li>
                   <li><a href="#">Sample Cat 2</a></li>
                   <li><a href="#">Sample Cat 3</a></li>
                   <li><a href="#">Sample Cat 4</a></li>
                   <li><a href="#">Sample cat 5</a></li>
               </ul>
            
           <div class="tabHeader">A Little Bit About Us</div>     

    </div><!--End Tab 3 -->
     
    <div id="tab4" class="tab_content">

    Code Block showing tabs headers
    
    </div><!--End Tab 4 -->
 
</div><!--End Tab Container -->
     
  </div><!--End Main Content-->
     
    <div class="sidebar">

    The Search Filter
    <form action="" method="get">
            <input name="search" class="search" placeholder="Filter webdesigntuts+ posts">
            </form>

    Facebook Like and Button
    <a class="button left" href="http://webdesign.tutsplus.com/" target="_blank"><span class="buttonimage left"></span>Website</a>
           <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=253432341349745&amp;xfbml=1"></script><fb:like href="http://apps.facebook.com/fbtuttts"layout="button_count" width="75" show_faces="true" action="like" font="lucida grande"></fb:like>
           <a class="button right" href="#"><span class="buttonimage left"></span>Logout</a>

    Tab Headers
    <div class="tabHeader">Categories</div>
            
               <ul>
                   <li><a href="#">Sample Cat 1</a></li>
                   <li><a href="#">Sample Cat 2</a></li>
                   <li><a href="#">Sample Cat 3</a></li>
                   <li><a href="#">Sample Cat 4</a></li>
                   <li><a href="#">Sample cat 5</a></li>
               </ul>
            
           <div class="tabHeader">A Little Bit About Us</div>    
    
    </div><!--End Sidebar-->
</div><!--End Wrapper -->
 
 
</body>
</html>