@{
	ViewBag.Title = "Blog";
}
<h2>Bagaimana Untuk Membuat Blog Mudah Part1</h2>
<p id="demo"></p>

<button onclick="clearInterval(myVar)">Stop time</button>

<script>
var myVar = setInterval(function(){myTimer()},1000);
function myTimer() {
	var d = new Date();
	document.getElementById("demo").innerHTML = d.toLocaleTimeString();
}
</script>
@using (Html.BeginForm("ValidateCommand", "PayPal"))
{
	<div>
		<table >
			<tr>
				<td>
					Nama Produk:
				</td>
				<td>
					<input type="text" name="product" value="YURAN BAYARAN BULAN OKTOBER" readonly />
				</td>
			</tr>
			<tr>
				<td>
				   Jumlah Harga:
				</td>
				<td>
					RM <input type="text" name="totalPrice" value="19.90" readonly />
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<input type="submit" name="btnConfirm" value="Check Out with Paypal" />
				</td>
			</tr>
		</table>
	</div>
}
<h2 id="intro">1. Pengenalan</h2>

<p>
  Terdapat cara yang berbeza kita boleh belajar teknologi; dengan membaca buku, menghadiri persidangan oleh, dengan melakukan sampel dan banyak lagi. Saya rasa salah satu cara terbaik adalah dengan mewujudkan sesuatu yang berguna untuk kita menggunakan teknologi. Salah satu perkara yang berguna yang anda boleh mewujudkan mudah adalah blog. Dalam siri berbilang bahagian, kita akan belajar langkah ASP.NET MVC demi langkah dengan mewujudkan satu blog dari awal.
</p>

<div style="text-align: center;" class="image-wrapper">
  <a target="_blank" href="/Images/How to create a simple blog using ASP.NET MVC - Part I_files/simpleblog_blog_look.png" title="JustBlog">
	<img src="/Images/How to create a simple blog using ASP.NET MVC - Part I_files/simpleblog_blog_look.png" class="post-diagram" alt="JustBlog">
  </a>
  <p class="post-img-caption">JustBlog</p>
</div>

<p>
  Untuk menjaga perkara-perkara yang mudah kita tidak akan membina sistem mengulas sebaliknya kita akan menggunakan Disqus. Saya menggalakkan anda untuk membina sistem mengulas oleh anda dan yang akan menjadi latihan yang baik untuk anda.
</p>

<p>
  Kami akan menggunakan <span class="span-highlight-text">ASP.NET MVC 4</span> untuk membangunkan aplikasi. Saya tidak pandai Rangka Kerja Entiti dan kami akan menggunakan Fasih NHibernate / NHibernate kombo untuk membina sistem data akses. Anda boleh menggunakan Rangka Kerja Entiti jika anda suka. Akhir sekali, kami akan menggunakan Ninject untuk suntikan pergantungan kerana ia kesederhanaan.
</p>

<p>
  Dalam bahagian pertama siri ini kita akan membina infrastruktur asas blog. Kami akan mewujudkan kelas-kelas model perlu, komponen akses data, pengawal dan pandangan. Pada akhir bahagian ini kita mempunyai blog kerja di mana kita boleh melihat siaran terbaru, membaca pos yang lengkap, melayari jawatan berdasarkan kategori atau tag dan juga mencari jawatan yang berminat.
</p>

<p>
  Dalam bahagian kedua, kita akan membina sebuah konsol admin untuk menguruskan posting kami, tag dan kategori.
</p>

<p>
  Dalam bahagian akhir kita akan mengintegrasikan Disqus sistem mengulas dengan blog kita. Kami juga menyaksikan kira-kira mengintegrasikan AddThis, FeedBurner untuk berkongsi dan langganan. Akhir sekali, kami juga mengambil ukuran yang diperlukan untuk SEO.
</p>
  
