@{
	ViewBag.Title = "Flash_Filem_dalam_Visual_Studio";
}

<h2>Filem kilat di Projek Studio Visual</h2>
<p id="demo"></p>

<button onclick="clearInterval(myVar)">Stop time</button>

<script>
var myVar = setInterval(function(){myTimer()},1000);
function myTimer() {
	var d = new Date();
	document.getElementById("demo").innerHTML = d.toLocaleTimeString();
}
</script>
@{
	ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("ValidateCommand", "PayPal"))
{
	<div>
		<table >
			<tr>
				<td>
					Nama Produk:
				</td>
				<td>
					<input type="text" name="product" value="Flash Movies in Visual Studio" readonly />
				</td>
			</tr>
			<tr>
				<td>
				   Jumlah Harga:
				</td>
				<td>
					RM <input type="text" name="totalPrice" value="14.80" readonly />
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<input type="submit" name="btnConfirm" value="Check Out with Paypal" />
				</td>
			</tr>
		</table>
	</div>
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0058)http://www.sapphiresteel.com/Flash-Movies-in-Visual-Studio -->
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/ss2_main.dwt" codeOutsideHTMLIsLocked="false" --><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<meta name="keywords" content="amethyst ruby steel flex actionscript flash adobe rails visual studio ide">
<link rel="stylesheet" href="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/spip_style.css" type="text/css">
<link href="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/ss2.css" rel="stylesheet" type="text/css">
<link href="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/ss2.css" rel="stylesheet" type="text/css"> <!-- DEVELOPMENT ONLY -->
<script src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/ss2_main.js" type="text/javascript"></script>

<!-- InstanceBeginEditable name="doctitle" -->
<!-- S2::ARTICLE -->
<!-- S2::MAIN LOOP-BEGIN -->

<title>SapphireSteel Software: Flash Movies in Visual Studio Projects</title>
<!-- InstanceEndEditable -->


<link rel="stylesheet" type="text/css" href="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/widget006.old.css" media="all"></head>
<body class="mainLayout" onload="onload=&quot;MM_preloadImages(&#39;IMG/ss2/navbar2/navbar2_r2_c1_f2.png&#39;,&#39;IMG/ss2/navbar2/navbar_products_f2.png&#39;,&#39;IMG/ss2/navbar2/navbar_store_f2.png&#39;,&#39;IMG/ss2/navbar2/navbar_support_f2.png&#39;,&#39;IMG/ss2/navbar2/navbar2_r2_c6_f2.png&#39;,&#39;IMG/ss2/navbar2/navbar_blog_f2.png&#39;);&quot;">

<div id="navbarcontainer">
 
<div id="navbar">

<table border="0" cellpadding="0" cellspacing="0" width="980">
<!-- fwtable fwsrc="navbar2.png" fwpage="Page 1" fwbase="navbar2.png" fwstyle="Dreamweaver" fwdocid = "1928997624" fwnested="0" -->
 

  <tbody><tr>
   <td colspan="7"><img name="navbar2_r1_c1" src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/navbar2_r1_c1.png" width="980" height="68" border="0" id="navbar2_r1_c1" alt=""></td>
   <td><img src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/spacer.gif" width="1" height="68" border="0" alt=""></td>
  </tr>
  <tr>
   <td><a href="http://www.sapphiresteel.com/" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage(&#39;navbar2_r2_c1&#39;,&#39;&#39;,&#39;IMG/ss2/navbar2/navbar2_r2_c1_f2.png&#39;,1);"><img name="navbar2_r2_c1" src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/navbar2_r2_c1.png" width="203" height="36" border="0" id="navbar2_r2_c1" alt=""></a></td>
   <td rowspan="2"><img name="navbar2_r2_c2" src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/navbar2_r2_c2.png" width="400" height="52" border="0" id="navbar2_r2_c2" alt=""></td>
   <td><a href="http://www.sapphiresteel.com/Products/Products-Overview" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage(&#39;navbar_products&#39;,&#39;&#39;,&#39;IMG/ss2/navbar2/navbar_products_f2.png&#39;,1);"><img name="navbar_products" src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/navbar_products.png" width="92" height="36" border="0" id="navbar_products" alt=""></a></td>
   <td><a href="http://www.sapphiresteel.com/Products/Store" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage(&#39;navbar_store&#39;,&#39;&#39;,&#39;IMG/ss2/navbar2/navbar_store_f2.png&#39;,1);"><img name="navbar_store" src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/navbar_store.png" width="73" height="36" border="0" id="navbar_store" alt=""></a></td>
   <td><a href="http://www.sapphiresteel.com/Products/Support" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage(&#39;navbar_support&#39;,&#39;&#39;,&#39;IMG/ss2/navbar2/navbar_support_f2.png&#39;,1);"><img name="navbar_support" src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/navbar_support.png" width="83" height="36" border="0" id="navbar_support" alt=""></a></td>
   <td><a href="http://www.sapphiresteel.com/forum/" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage(&#39;navbar2_r2_c6&#39;,&#39;&#39;,&#39;IMG/ss2/navbar2/navbar2_r2_c6_f2.png&#39;,1);"><img name="navbar2_r2_c6" src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/navbar2_r2_c6.png" width="66" height="36" border="0" id="navbar2_r2_c6" alt=""></a></td>
   <td><a href="http://www.sapphiresteel.com/Blog" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage(&#39;navbar_blog&#39;,&#39;&#39;,&#39;IMG/ss2/navbar2/navbar_blog_f2.png&#39;,1);"><img name="navbar_blog" src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/navbar_blog.png" width="63" height="36" border="0" id="navbar_blog" alt=""></a></td>
   <td><img src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/spacer.gif" width="1" height="36" border="0" alt=""></td>
  </tr>
  <tr>
   <td><img name="navbar2_r3_c1" src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/navbar2_r3_c1.png" width="203" height="16" border="0" id="navbar2_r3_c1" alt=""></td>
   <td colspan="5"><img name="navbar2_r3_c3" src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/navbar2_r3_c3.png" width="377" height="16" border="0" id="navbar2_r3_c3" alt=""></td>
   <td><img src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/spacer.gif" width="1" height="16" border="0" alt=""></td>
  </tr>
</tbody></table>


  <!-- end #header -->
  </div>

</div>
<div id="centreRow">
<div id="container">
  
  <div id="mainContent">
<!-- InstanceBeginEditable name="mainContentArea" -->
<!-- Display article logo for this rubrique, if there is one, 
otherwise if there is a header for the rubrique, show that, 
other show title of rubrique  -->

<h1>Amethyst Tutorials</h1>
		
 
	
	
	
	
 
 

<!-- Back to section link -->

Back to
	
	<!--The parent section(s)-->
	<img src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/puce.gif" width="8" height="11" alt="-"><a href="http://www.sapphiresteel.com/Tutorials/">Tutorials</a>              
	
	<!--The parent section(s)-->
	<img src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/puce.gif" width="8" height="11" alt="-"><a href="http://www.sapphiresteel.com/Tutorials/Amethyst-Tutorials/">Amethyst Tutorials</a>              
 



   <!-- The header logo -->
  <!-- <div class="headerdiv"><img src="IMG/ss2/headers/the-blog-article.png" width="350" height="55" alt="the blog" /></div> -->
   <!-- articleIntro: above 'main box' -->
   <div class="articleIntro">
   <h1 class="blog-article-title">Flash Movies in Visual Studio Projects</h1>
  
	<div class="strapline">
	Amethyst lets you program Flash movie clips in Flash/ActionScript or Flex 
	</div>
	<!--     Only display data on Blog entries (rub1) -->
	
	</div> <!-- end:articleIntro -->

	<!-- main article in a box -->
	<div class="box-out">
	  <div class="cornertopleft"></div>
	  <div class="cornertopright"></div>
	  <div class="cornerbottomleft"></div>
	  <div class="cornerbottomright"></div>
	   
		
	  <div class="text-in-box"><!-- intro and body -->    
	   <div class="intro">
		<p>Kami telah menulis kira-kira sebelum <a href="http://www.sapphiresteel.com/Blog/Flash-IDE-Integration-With" class="spip_in">mengintegrasikan Amethyst dengan Adobe Flash IDE</a> supaya Flash dan pemaju Studio Visual boleh berkongsi pangkalan kod yang sama untuk menggunakan maju debugging dan kod penyuntingan Amethyst ini. Tetapi anda tidak perlu menggunakan IDE Flash. Amethyst juga boleh membuat aplikasi Flash (atau 'filem') dengan sendirinya.</p>
		</div>  
	  
	  <p>Senario biasa akan menjadi salah satu di mana pemaju ActionScript mempunyai beberapa MovieClips pra-dibuat (sama ada yang diterbitkan oleh IDE Flash atau oleh aplikasi lain yang boleh menyebabkan Flash). Pemaju mahu menggunakan klip ini sebagai 'sumber' - iaitu, sebagai objek yang boleh dimuatkan dan diprogramkan seperti yang dikehendaki. Ini adalah mudah untuk dilakukan di Amethyst. Anda hanya boleh memasukkan MovieClips dinamakan sebagai aset ke dalam projek ActionScript dan mula pengekodan.</p>

<p>Biar saya memberi anda satu contoh yang mudah. Ini akan menjadi sangat asas (dan, saya perlu mengaku, tidak sangat menghiburkan!) 'Permainan' menggunakan beberapa klip filem. Setiap klip mengandungi bentuk yang boleh diklik untuk menukar warna. Warna-perubahan yang dilakukan semata-mata dengan berpindah ke bingkai seterusnya dalam klip itu sebagai tindak balas kepada setiap klik.</p>

<p>Di sini saya telah memutuskan untuk mewujudkan satu projek Flex 3 (tetapi Flex 4 bekerja sama dengan baik) ...</p>

<p><!-- htmlA --><span class="spip_document_1153 spip_documents spip_documents_center">
<img src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/flashmovieclip1.png" width="630" height="387" alt=""></span><!-- htmlB --></p>

<p>Projek Flex memberikan saya pilihan untuk menyusun sama ada dengan atau tanpa rangka kerja Flex itu. Jika anda tidak bercadang untuk menggunakan Flex sama sekali, anda boleh memulakan sebuah projek ActionScript sebaliknya. Sebab saya telah memilih Flex adalah kerana saya ingin menunjukkan kepada anda bagaimana mudah ia adalah untuk menggunakan MovieClips dalam kedua-dua jenis projek: projek ActionScript (ditulis sepenuhnya dalam fail '.as' di mana kelas utama boleh melanjutkan MovieClip atau Sprite) dan Flex projek (dengan Permohonan yang ditakrifkan dalam fail MXML).</p>

<p>Sebelum pergi lebih jauh, mari saya jelaskan bagaimana saya mencipta MovieClips saya. Untuk menjaga ini mudah untuk diikuti, saya telah membuat klip ini semudah boleh. Dalam Adobe Flash IDE Saya telah membuat dua klip filem (dipanggil BallClip dan RectangleClip), setiap yang mempunyai tiga bingkai. Dalam Flash IDE panel Perpustakaan saya dipilih setiap klip, muncul dialog hartanah dan menetapkan 'Eksport ActionScript untuk benar. Kemudian saya diterbitkan (dikumpulkan dan disimpan) ke fail SWF dipanggil bentuk-assets.swf. Fail ini kini mengandungi dua MovieClips saya seperti yang dinamakan kelas.</p>

<p><!-- htmlA --><span class="spip_document_1154 spip_documents spip_documents_center">
<img src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/flashmovieclip2.png" width="494" height="337" alt=""></span><!-- htmlB --></p>

<p>Sekarang saya menyalin SWF ini ke dalam \ folder src aset \ di bawah projek Amethyst saya.</p>

<h3 class="spip">A Movie Flash</h3>
<p>Saya mencipta fail ActionScript, dan saya embed setiap MovieClips sebagai Kelas dari SWF, seperti ini (di sini nama simbol asal ditunjukkan dalam arahan itu 'Embed' dan nama saya akan gunakan dalam ActionScript ditakrifkan dalam pembolehubah akuan yang mengikutinya):</p>

<div style="text-align: left;" class="spip_code" dir="ltr"><code>[Embed(source = "assets/shape-assets.swf", symbol = "BallClip")]<br>
private var Ball:Class;<br>
 &nbsp; &nbsp; &nbsp; &nbsp;<br>
[Embed(source = "assets/shape-assets.swf", symbol = "RectangleClip")]<br>
private var Oblong:Class;</code></div>
<p>Saya mentakrifkan dua pembolehubah objek MovieClip:</p>

<div style="text-align: left;" class="spip_code" dir="ltr"><code>private var ballclip : MovieClip; &nbsp; &nbsp;<br>
private var rectclip : MovieClip;</code></div>
<p>Dan apabila saya mahu mencipta objek, saya berbuat demikian dengan menghubungi pembina kelas yang sesuai, menggunakan Kelas nama-nama pembolehubah yang saya ditakrifkan selepas mengimport setiap dua klip:</p>

<div style="text-align: left;" class="spip_code" dir="ltr"><code>ballclip = new Ball();<br>
rectclip = new Oblong( );</code></div>
<p>Selebihnya adalah cukup mudah. Saya menambah klip sebagai kanak-kanak permohonan saya dan membuat mereka MouseClick acara-pengendali. Ini pengendali acara (onclick) menggunakan harta acara 'sasaran' untuk menentukan klip diklik dan ia bergerak ke bingkai seterusnya bahawa klip dengan setiap klik. Ia bergerak kembali ke bingkai 1 apabila semua bingkai telah dinyatakan. Ini adalah barangan cukup mudah, tentu saja, tetapi betul-betul teknik yang sama boleh digunakan apabila mengimport MovieClips agak kompleks dan menghidupkan mereka secara berurutan atau memaparkan klip tertentu berdasarkan interaksi pengguna. Bagaimanapun, di sini adalah kod penuh:</p>

<form action="" method="get"><div>
<input type="hidden" name="exec" value="">
<textarea readonly="readonly" cols="40" rows="52" class="spip_cadre" dir="ltr">package {
	import flash.display.MovieClip;
	import flash.events.MouseEvent;
	
	public class ActionScriptApp extends MovieClip {
				
		[Embed(source = "assets/shape-assets.swf", symbol = "BallClip")]
		private var Ball:Class;
		
		[Embed(source = "assets/shape-assets.swf", symbol = "RectangleClip")]
		private var Oblong:Class;

		private var ballclip : MovieClip;    
		private var rectclip : MovieClip;
		
		public function ActionScriptApp ( ) {        
			ballclip = new Ball();
			ballclip.x = 150;
			ballclip.y = 150;
			ballclip.gotoAndStop(0);
			this.addChild( ballclip );
			ballclip.addEventListener(MouseEvent.CLICK,onClick);    
			
			rectclip = new Oblong( );
			rectclip.x = 350;
			rectclip.y = 150;
			rectclip.gotoAndStop( 0 );
			this.addChild( rectclip );
			rectclip.addEventListener( MouseEvent.CLICK, onClick );

		}
		
		private function onClick ( e:MouseEvent ):void {    
			var f:int;
			var mc:MovieClip;
			mc = (e.target as MovieClip);
			f = mc.currentFrame;
			if ( f &lt; mc.framesLoaded ) {
				f++;
			}else {
				f = 1;
			}
			mc.gotoAndStop(f);
		}
	}
	
}</textarea></div></form>

<p>Tekan CTRL-F5 untuk menjalankan atau F5 untuk debug program Flash ini. Apabila debugging anda akan mempunyai akses kepada semua ciri-ciri maju penyahpepijat Amethyst yang ...</p>

<p><!-- htmlA --><span class="spip_document_1155 spip_documents spip_documents_center">
<img src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/flashmovieclip3.png" width="590" height="310" alt=""></span><!-- htmlB --></p>

<p>Dan anda boleh berinteraksi dengan program ini dalam pemain Flash ...</p>

<p><!-- htmlA --><span class="spip_document_1156 spip_documents spip_documents_center">
<img src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/flashmovieclip4.png" width="331" height="288" alt=""></span><!-- htmlB --></p>

<h3 class="spip">A Permohonan Flex</h3>
<p>Menggunakan MovieClips dalam Flex hanya sedikit lebih bermasalah. Ia ternyata bahawa kebanyakan komponen Flex tidak boleh menerima MovieClips sebagai kanak-kanak. Nasib baik, nenek moyang bersama komponen Flex, UIComponent, boleh. Jadi saya ?? baru sahaja mewujudkan satu kelas utiliti kecil yang dipanggil MovieWrapper, yang merupakan keturunan UIComponent yang mempunyai hanya satu fungsi, <i>sizeTo()</i>, untuk membuat ia mudah untuk saiz objek MovieWrapper kepada beberapa bekas Flex standard. Di sini adalah:</p>

<form action="" method="get"><div>
<input type="hidden" name="exec" value="">
<textarea readonly="readonly" cols="40" rows="18" class="spip_cadre" dir="ltr">package {
	import mx.core.UIComponent;
	import flash.display.DisplayObjectContainer;
	
	public class MovieWrapper extends UIComponent{
		
		public function MovieWrapper ( ) {
			super();
		}
		
		public function sizeTo ( aContainer:DisplayObjectContainer ):void {            
			this.height = aContainer.height;
			this.width = aContainer.width;
		}
	}
	
}</textarea></div></form>

<p>Dan kini kami bersedia untuk pergi. Saya telah membuat Permohonan Flex normal (di sini ia berlaku untuk menjadi Flex 3 tetapi ia berfungsi hanya yang sama dengan Flex 4):</p>

<form action="" method="get"><div>
<input type="hidden" name="exec" value="">
<textarea readonly="readonly" cols="40" rows="12" class="spip_cadre" dir="ltr">&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;mx:Application applicationComplete="init()" height="400" width="400" xmlns:mx="http://www.adobe.com/2006/mxml"&gt;
	&lt;mx:Script source="FlexApplication1.designer.as"/&gt;
	&lt;mx:Canvas backgroundColor="#ffff80" height="300" id="canvas" name="Canvas" width="300" x="100" y="100"/&gt;        
&lt;/mx:Application&gt;</textarea></div></form>

<p>Perhatikan bahawa permohonan itu mengandungi Canvas dinamakan 'kanvas' dan ia akan melakukan yang init () kaedah setelah selesai. Ini fail skrip yang berkaitan, FlexApplication1.designer.as (ini berlaku kepada 'kod di belakang fail' sebuah Amethyst, maka nama fail, tetapi mana-mana fail skrip akan melakukan):</p>

<form action="" method="get"><div>
<input type="hidden" name="exec" value="">
<textarea readonly="readonly" cols="40" rows="35" class="spip_cadre" dir="ltr">//
// Amethyst Designer file for FlexApplication1.mxml
//
import mx.events.*;
import flash.events.*;
import mx.core.UIComponent;

[Embed(source = "assets/shape-assets.swf", symbol = "BallClip")]
private var Ball:Class;

private var b:MovieClip;
private var i:int = 1;
private var mw:MovieWrapper;

public function init ( ) :void {    
	b = new Ball( );
	b.x = 150;
	b.y = 150;
	b.gotoAndStop( 0 );    
	mw = new MovieWrapper();
	mw.sizeTo( canvas );
	canvas.addChild( mw );
	mw.addChild( b );
	b.addEventListener( MouseEvent.CLICK, onClick );
}

private function onClick ( e:MouseEvent ):void {
	if ( b.currentFrame &lt; b.framesLoaded ) {
		i++;
	} else {
		i = 1;
	}
	b.gotoAndStop( i );
}</textarea></div></form>

<p>Seperti yang anda lihat, kebanyakan kod adalah sama seperti dalam program ActionScript yang saya dicipta sebelum ini. Kali ini saya telah hanya digunakan salah satu klip untuk keringkasan tetapi anda boleh menggunakan kedua-dua jika anda mahu. Perbezaan utama adalah cara di mana klip yang ditambah. Sebaliknya menambah secara langsung dengan permohonan itu atau kepada Canvas, saya telah mencipta objek MovieWrapper dan menambah klip untuk itu. Yang MovieWrapper bersaiz ke kanvas dan ditambah kepadanya. Yang MovieClip kemudiannya ditambah kepada MovieWrapper. Hasilnya adalah bahawa saya kini mempunyai MovieClip saya betul dalam permohonan Flex saya.</p>

<p>I have both versions of this program in a single project the Solution Explorer (for real-world development you can group multiple projects inside one Solution) and when I want to switch from the Flash/ActionScript version to the Flex version, I just right-click the MXML file and select ‘Set as main’.</p>

<p><!-- htmlA --><span class="spip_document_1157 spip_documents spip_documents_center">
<img src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/flashmovieclip5.png" width="343" height="502" alt=""></span><!-- htmlB --></p>

<p>And now I can run this Flex application either in the Flash player or in a browser (and of course, I can debug as before)...</p>

<p><!-- htmlA --><span class="spip_document_1158 spip_documents spip_documents_center">
<img src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/flashmovieclip6.png" width="480" height="485" alt=""></span><!-- htmlB --></p>

<p>So, in short, if you want to program Flash applications in Amethyst you have three main choices.:
<br><strong>1)</strong> You can share an existing Flash movie with the Flash IDE <a href="http://www.sapphiresteel.com/Blog/Flash-IDE-Integration-With" class="spip_in">as explained in a previous article</a>.
<br><strong>2)</strong>  Or you can create a Flash/ActionScript project from scratch in Amethyst and import MovieClips and other graphic and audio resources and program them entirely in Amethyst. 
<br><strong>3)</strong> Or you can import MovieClips into UIComponent ‘wrappers’ and use them in your Flex framework applications.</p>

<p>Using these three possible workflows makes it possible for ActionScript developers to work exclusively in Amethyst, using the full power of the Amethyst coding environment (with its extensive refactoring, IntelliSense and code formatting capabilities) and the integrated <i>Amethyst Cylon</i> debugger. If a codebase already exists, this may either be imported or shared with the Flash IDE so that Amethyst developers may work on the same code being used by Flash IDE developers. But if you wish to import Flash-based resources such as MovieClips and you do not need to share code with the Flash IDE, then you can create Flash/ActionScript or Flex movies and applications by importing existing movie clips and manipulating them programmatically as explained above.</p> 
	  </div> <!--text-in-box-->
	</div> <!-- box-out -->
	<!-- end: main article in a box -->
	
	<!-- footnotes - if any -->
	 <span class="smalltext"></span>

	
	<!-- S2::MAIN LOOP-END -->
 
  
<div id="bookmarksRow">                       
<!-- AddThis Button BEGIN -->
<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&username=huwcol"><img src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"></a><script type="text/javascript" src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/addthis_widget.js"></script><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;"><iframe id="_atssh248" title="AddThis utility frame" src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/sh174.htm" style="height: 1px; width: 1px; position: absolute; z-index: 100000; border: 0px; left: 0px; top: 0px;"></iframe></div><script type="text/javascript" src="/Images/SapphireSteel Software  Flash Movies in Visual Studio Projects_files/core157.js"></script>
<!-- AddThis Button END -->


 <!-- Keywords -->
			
				&nbsp;&nbsp;Keywords:
				
				  &nbsp;<a href="http://www.sapphiresteel.com/ActionScript">ActionScript</a>
				
				  &nbsp;<a href="http://www.sapphiresteel.com/Amethyst">Amethyst</a>
				
				  &nbsp;<a href="http://www.sapphiresteel.com/Flash">Flash</a>
				
				  &nbsp;<a href="http://www.sapphiresteel.com/Flex">Flex</a>
				
				  &nbsp;<a href="http://www.sapphiresteel.com/tutorial">tutorial</a>
				
				
			 
 <!-- End: Keywords -->



  
</div>     <!-- end:bookmarksRow -->


					<!--SPIP :: attached documents (e.g. pdf/mp3)-->
					
					<!--End of attached documents-->




<!-- Only put a comment link on articles in rubrique 1 (the Blog)
However, leave forums in plaace to display comments left on older articles
in other sections -->


	
	<!-- InstanceEndEditable -->
	<!-- end #mainContent -->
  </div>
  
   </div>
  <!-- end #container -->
  </div> <!-- centreRow -->
  <div id="footer">

	 <div class="footernav">
	   <div class="footercolumn">
		<div class="footercolumnheader">Site Navigation</div>
		<ul class="footerlinks">
		  <li><a href="http://www.sapphiresteel.com/">Home</a></li>
		  <li><a href="http://www.sapphiresteel.com/spip.php?page=plan">Site Map</a></li>
		  <li><a href="http://www.sapphiresteel.com/spip.php?page=recherche">Search</a></li> 
		  <li><a href="http://www.sapphiresteel.com/Blog">Blog</a></li>         
		</ul>
	  </div>
	   <div class="footercolumn">
		<div class="footercolumnheader">Products</div>
		<ul class="footerlinks">
		  <li><a href="http://www.sapphiresteel.com/Products/amethyst-ide/Amethyst-Product-Page">Amethyst</a></li>
		  <li><a href="http://www.sapphiresteel.com/spip.php?page=amethyst-feature-list">Amethyst Feature List</a></li>
		  <li><a href="http://www.sapphiresteel.com/Products/Ruby-In-Steel/Ruby-In-Steel-Developer-Overview">Sapphire</a></li> 
		  <li><a href="http://www.sapphiresteel.com/spip.php?page=feature-list">Sapphire Feature List</a></li>  
		  <li><a href="http://www.sapphiresteel.com/Products/Store">Buy</a></li>         
		</ul>
	  </div>
	   <div class="footercolumn">
		<div class="footercolumnheader">Downloads &amp; Support</div>
		<ul class="footerlinks">
			<li><a href="http://www.sapphiresteel.com/Products/amethyst-ide/Download-Amethyst-Adobe-Flash">Amethyst Download</a></li>
		   <li><a href="http://www.sapphiresteel.com/spip?page=download">Sapphire Download</a></li>  
		   <li><a href="http://www.sapphiresteel.com/Products/Support">Product Support</a></li>
		  <li><a href="http://www.sapphiresteel.com/forum">Forum</a></li>
		  <li><a href="http://www.sapphiresteel.com/Tutorials/">Tutorials</a></li>                       
		</ul>
	  </div>
	   <div class="footercolumn">
		<div class="footercolumnheader">Company</div>
		<ul class="footerlinks">
		  <li><a href="http://www.sapphiresteel.com/info/company/about-us">About</a></li>
		  <li><a href="http://www.sapphiresteel.com/spip?page=contact">Contact</a></li>       
		</ul>
	  </div>
	   <div class="footercolumn">
		<div class="footercolumnheader">More...</div>
		<ul class="footerlinks">
		  <li><a href="http://www.sapphiresteel.com/ruby-programming/The-Book-Of-Ruby">The Book Of Ruby</a></li>
		  <li><a href="http://www.sapphiresteel.com/ruby-programming/The-Little-Book-Of-Ruby">The Little Book Of Ruby</a></li>  
		  <li><a href="http://www.sapphiresteel.com/spip.php?page=backend&id_rubrique=1">RSS Feed</a></li>
		</ul>
	  </div>
	</div>
</div>    

	<!-- end #footer -->
  <div id="bottomRow">
<span class="smalltext">  © SapphireSteel Software 2014</span>
  </div>
  
  



<!-- InstanceEnd -->
</body></html>
