@{
    ViewBag.Title = "Flash_Filem_dalam_Visual_Studio";
}

<h2>Flash_Filem_dalam_Visual_Studio</h2>
<header><base target="main"></header>
<p id="demo"></p>

<button onclick="clearInterval(myVar)">Stop time</button>

<script>
var myVar = setInterval(function(){myTimer()},1000);
function myTimer() {
    var d = new Date();
    document.getElementById("demo").innerHTML = d.toLocaleTimeString();
}
</script>
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("ValidateCommand", "PayPal"))
{
    <div>
        <table >
            <tr>
                <td>
                    Nama Produk:
                </td>
                <td>
                    <input type="text" name="product" value="Flash Movies in Visual Studio" readonly />
                </td>
            </tr>
            <tr>
                <td>
                   Jumlah Harga:
                </td>
                <td>
                    RM <input type="text" name="totalPrice" value="14.80" readonly />
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" name="btnConfirm" value="Check Out with Paypal" />
                </td>
            </tr>
        </table>
    </div>
}
