<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- saved from url=(0083)https://www.paypal.com/us/cgi-bin/webscr?cmd=p/pdn/Images/SDK_asp_net_how-it-works-outside -->
<html xmlns:ns1="og" lang="en" xmlns="http://www.w3.org/1999/xhtml" ns1:xmlns="http://ogp.me/ns#" class=" jsEnabled"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--
	   Script info: script: webscr, cmd: p&#x2f;pdn&#x2f;sdk&#x5f;asp&#x5f;net&#x5f;how&#x2d;it&#x2d;works&#x2d;outside, template: p&#x2f;pdn&#x2f;sdk&#x5f;asp&#x5f;net&#x5f;how&#x2d;it&#x2d;works&#x2d;outside, date: Oct&#x20;1&#x2c;&#x20;2014&#x20;14&#x3a;39&#x3a;36&#x20;PDT; country: US, language: en_US, xslt server: 
	   installation:        web version: 118&#x2e;0&#x2d;13185189 branch: 08c855c990bb888a425fa3987beb659f0d021c66
	   content version: &#x2d;
	   pexml version: 118&#x2e;0&#x2d;13055236
	   page XSL: Merchant/default/en_US/developer/Images/SDKASPNetHowItWorks.xsl
	   hostname : YV56K2ePwl183kKePj012fHHNr6abk9j5Fs4yzDHMWw
		 rlogid : YV56K2ePwl183kKePj012UtvT8E68AB5FNahEwj6&#x25;2f2E&#x25;2fz19gAyaPGg&#x25;3d&#x25;3d&#x5f;148df844300
-->
<title>SDK untuk ASP.Net Download - Bagaimana Ia Berfungsi - PayPal</title>
<!--googleoff: all-->
<meta http-equiv="keywords" content="Send, money, payments, credit, credit card, instant, money, financial services, mobile, wireless, WAP, cell phones, two-way pagers, Windows CE">
<!--googleon: all-->

<!--googleoff: all-->
<meta http-equiv="description" content="PayPal lets you send money to anyone with email. PayPal is free for consumers and works seamlessly with your existing credit card and checking account. You can settle debts, borrow cash, divide bills or split expenses with friends all without going to an ATM or looking for your checkbook.">
<!--googleon: all-->
<meta http-equiv="X-UA-Compatible" content="IE=8"><link rel="stylesheet" type="text/css" href="/Images/SDK/paypal.css">
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="https&#x3a;&#x2f;&#x2f;www&#x2e;paypalobjects&#x2e;com&#x2f;WEBSCR&#x2d;640&#x2d;20140906&#x2d;1/css/ie60win.css"><![endif]-->

<!--[if IE 7]><link rel="stylesheet" type="text/css" href="https&#x3a;&#x2f;&#x2f;www&#x2e;paypalobjects&#x2e;com&#x2f;WEBSCR&#x2d;640&#x2d;20140906&#x2d;1/css/ie70win.css"><![endif]-->
<link rel="shortcut icon" href="https://www.paypalobjects.com/en_US/i/icon/pp_favicon_x.ico"><link rel="apple-touch-icon" href="https://www.paypalobjects.com/en_US/i/pui/apple-touch-icon.png"><script type="text/javascript">
				if (self === top) {
					var antiClickjack = document.getElementById("antiClickjack");
					antiClickjack.parentNode.removeChild(antiClickjack);
				} else {
					top.location = self.location;
				}
			</script><script type="text/javascript" src="/Images/SDK/pp_main.js"></script><script type="text/javascript" src="/Images/SDK/global.js"></script><style type="text/css">form#rosetta {display:none;}</style><script type="text/javascript">PAYPAL.util.lazyLoadRoot = 'https\x3a\x2f\x2fwww\x2epaypalobjects\x2ecom\x2fWEBSCR\x2d640\x2d20140906\x2d1';</script><script type="text/javascript" src="/Images/SDK/pa.js"></script></head><body><noscript>&lt;style type="text/css"&gt;body{display:block !important;}&lt;/style&gt;</noscript><div id="header" class="std secondary"><h1><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_home"><img border="0" src="/Images/SDK/paypal_logo.gif" alt="PayPal"></a></h1><form method="post" role="search" id="searchForm" name="searchForm" action="https://www.paypal.com/us/cgi-bin/searchscr?cmd=_sitewide-search"><fieldset class="autocomplete" id="myDynamicAutoComplete"><legend>Search PayPal</legend><label for="searchBox">Search </label><input type="text" id="searchBox" name="queryString_acInput" value="" autocomplete="off" class="acInput" aria-autocomplete="list"><input type="hidden" name="queryString" value=""> <input type="hidden" id="sayTminLength" value="3"><input type="hidden" id="coDomain" value="US"><input type="hidden" name="beta_user" value="false"><input class="button" type="submit" id="search.x" name="search.x" value="Search" autocomplete="off"></fieldset><input name="auth" type="hidden" value="AVe7uzLM6zEvkYDQ4Wb76mifCTuHX32HqgcIH5YF4STiJdOr.VbVtmQOgOG2RDwUz"><input name="form_charset" type="hidden" value="UTF-8"></form><div id="navGlobal"><span><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=p/pdn/Images/SDK_asp_net_how-it-works-outside#content" class="accessAid skip">Skip to main content</a></span><ul><li class="first signup"><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_registration-run">Sign Up</a></li><li class="login"><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_login-run">Log In</a></li><li><a href="https://www.paypal.com/us/cgi-bin/helpweb?cmd=_help">Help</a></li><li class="last"><a href="https://cms.paypal.com/us/cgi-bin/marketingweb?cmd=_render-content&content_ID=security/online_security_center">Security and Protection</a></li></ul></div><div role="navigation" id="navPrimary"><ul class="secondary"><li class="active"><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=%5fhome%2dgeneral&nav=0" class="scTrack:SRD:Nav:L5">Home</a><ul><li class="active"><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=xpt%2fMarketing%2fgeneral%2fwhat%2dis%2dpaypal%2doutside&nav=0%2e0" class="scTrack:SRD:Nav:W8">Get to Know PayPal</a><ul><li><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=xpt%2fMarketing%2fgeneral%2fwhy%2dpaypal%2doutside&nav=0%2e0%2e0" class="scTrack:SRD:Nav:YX">Why PayPal</a></li><li><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=xpt%2fMarketing%2fgeneral%2fhow%2dto%2duse%2dpaypal%2doutside&nav=0%2e0%2e1" class="scTrack:SRD:Nav:YY">How To Use PayPal</a></li><li><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=xpt%2fMarketing%2fgeneral%2fhow%2dto%2dset%2dup%2da%2dpaypal%2daccount%2doutside&nav=0%2e0%2e2" class="scTrack:SRD:Nav:YZ">How to Setup an Account</a></li><li><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=%5fdisplay%2dfees%2doutside&nav=0%2e0%2e3" class="scTrack:SRD:Nav:y80">How Much It Costs</a></li><li><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=xpt%2fMarketing%2fgeneral%2fPayPalAccountTypes%2doutside&nav=0%2e0%2e4" class="scTrack:SRD:Nav:Z8">Account Types</a></li></ul></li><li><a href="https://personal.paypal.com/cgi-bin/marketingweb?cmd=%5frender%2dcontent&content_ID=marketing%5fus%2fpay%5fonline&nav=0%2e1" class="scTrack:SRD:Nav:W3">Pay Online</a><ul><li><a href="https://personal.paypal.com/cgi-bin/marketingweb?cmd=%5frender%2dcontent&content_ID=marketing%5fus%2fpaypal%5fcredit%5fcard&nav=0%2e1%2e0" class="scTrack:SRD:Nav:W4">PayPal Extras MasterCard</a></li><li><a href="https://personal.paypal.com/us/cgi-bin/?&cmd=%5frender%2dcontent&content_ID=marketing%5fus%2fmobile%5fpayments%23payonline&nav=0%2e1%2e1" class="scTrack:SRD:Nav:L6">Shop Via Mobile</a></li></ul></li><li><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=%5fsend%2dmoney%2dtransfer&send_method=domestic&nav=0%2e2" class="scTrack:SRD:Nav:N9">Send Money</a><ul><li><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=%5fsend%2dmoney%2dtransfer&send_method=domestic&nav=0%2e2%2e0" class="scTrack:SRD:Nav:O1">Send Money Online</a></li><li><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=%5fsend%2dmoney%2dtransfer&send_method=intl&nav=0%2e2%2e1" class="scTrack:SRD:Nav:O2">Internationally</a></li><li><a href="https://student.paypal.com/us/cgi-bin/marketingweb?cmd=%5frender%2dcontent&content_ID=marketing%5fus%2fstudent%5faccounts&nav=0%2e2%2e2" class="scTrack:SRD:Nav:MR">To Your Teen</a></li><li><a href="https://personal.paypal.com/us/cgi-bin/?&cmd=%5frender%2dcontent&content_ID=marketing%5fus%2fmobile%5fpayments%23sendmoney&nav=0%2e2%2e3" class="scTrack:SRD:Nav:Y4">Via Your Mobile</a></li></ul></li><li><a href="https://personal.paypal.com/cgi-bin/marketingweb?cmd=%5frender%2dcontent&content_ID=marketing%5fus%2freceive%5fmoney&nav=0%2e3" class="scTrack:SRD:Nav:Y5">Get Paid</a><ul><li><a href="https://personal.paypal.com/cgi-bin/marketingweb?cmd=%5frender%2dcontent&content_ID=marketing%5fus%2frequest%5fmoney&nav=0%2e3%2e0" class="scTrack:SRD:Nav:Y6">Request Money</a></li><li><a href="https://personal.paypal.com/us/cgi-bin/?cmd=%5frender%2dcontent&content_ID=marketing%5fus%2fsell%5fon%5febay&tab=autotab%5f0&nav=0%2e3%2e1" class="scTrack:SRD:Nav:Y7">Sell on eBay</a></li><li><a href="https://personal.paypal.com/us/cgi-bin/?cmd=%5frender%2dcontent&content_ID=marketing%5fus%2fsell%5fon%5febay&tab=autotab%5f1&nav=0%2e3%2e2" class="scTrack:SRD:Nav:P6">Sell with Classifieds</a></li><li><a href="https://merchant.paypal.com/cgi-bin/marketingweb?cmd=%5frender%2dcontent&content_ID=merchant%2fwp%5fstandard&nav=0%2e3%2e3" class="scTrack:SRD:Nav:BM76">Sell on Your Website</a></li><li><a href="https://personal.paypal.com/cgi-bin/marketingweb?cmd=%5frender%2dcontent&content_ID=marketing%5fus%2ffundraise&nav=0%2e3%2e4" class="scTrack:SRD:Nav:P7">Fundraise</a></li></ul></li><li><a href="https://personal.paypal.com/cgi-bin/marketingweb?cmd=%5frender%2dcontent&content_ID=marketing%5fus%2fproducts%5fservices&nav=0%2e4" class="scTrack:SRD:Nav:P8">Products &amp; Services</a></li></ul></li><li><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=%5fhome%2dcustomer&nav=1" class="scTrack:SRD:Nav:L8">Personal</a></li><li><a href="https://www.paypal.com/webapps/mpp/merchant?nav=2" class="scTrack:SRD:Nav:x60">Business</a></li></ul></div></div><div id="xptContentOuter"><table align="center" border="0" cellpadding="0" cellspacing="0" id="xptContentInner"><tbody><tr valign="top"><td class="lefty"><table align="center" border="0" cellpadding="5" cellspacing="0" width="100%" id="xptLeftNav"><tbody><tr><td class="heading"><span class="smallEmphasis">PayPal ASP.Net SDK</span></td></tr><tr><td class="off"><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=p/pdn/software_dev_kit_asp_net-outside">Introduction</a></td></tr><tr><td class="on">Installation Instructions</td></tr><tr><td class="off"><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=p/pdn/software_dev_kit-outside">Back to SDK Home</a></td></tr></tbody></table><br><table align="center" border="0" cellpadding="5" cellspacing="0" width="100%"><tbody><tr><td bgcolor="#EEEEEE" class="small"><a target="_blank" href="http://www.persistent.com/paypal/aspdotnet/">Download</a> the PayPal<br>Software Developer Kit <br>for ASP.Net</td></tr></tbody></table><br><br><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=p/mrb/mrb-faq-outside"><img align="center" src="/Images/SDK/bnr_merchantReferralBonus_150x150.gif" border="0" alt=""></a><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><a target="_blank" href="http://www.vertigosoftware.com/"><img src="/Images/SDK/logo_vertigo_110x57.gif" border="0" alt=""></a><br><span class="inlineMediumGrey">Portions developed by Vertigo Software, Inc.</span><img alt="" border="0" height="1" src="/Images/SDK/pixel.gif" width="150"></td><td class="spacer">&nbsp;</td><td class="righty"><div id="xptTitle"><table align="center" border="0" cellpadding="0" cellspacing="0" class="main"><tbody><tr><td class="heading" width="100%"><h1>SDK untuk ASP.Net Download - Bagaimana Ia Berfungsi</h1></td></tr><tr><td><img alt="" border="0" height="2" src="/Images/SDK/pixel.gif" width="1"></td></tr><tr><td><hr></td></tr><tr><td><img alt="" border="0" height="4" src="/Images/SDK/pixel.gif" width="1"></td></tr></tbody></table></div><div id="xptContentMain"><table cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td><span class="emphasis">Untuk memasang Kawalan Web PayPal ke dalam Visual Studio NET 2003, ikuti langkah berikut: </span><ol start="1"><li>Sahkan bahawa anda mempunyai Visual Studio NET 2003 dipasang pada komputer anda pembangunan</li><li>Muat turun dan menyimpan "PayPal ASP.NET Kawalan" fail MSI</li><li>Klik dua kali pada fail MSI dan ikut arahan yang diberikan oleh Wizard Pemasangan</li><li>Membuka aplikasi web ASP.NET anda dalam Visual Studio NET 2003</li><li>Buka fail Web.config dan menambah kunci appSettings dinamakan "PayPal_BusinessEmail" dan tentukan nilai</li></ol><span class="emphasis">Example:</span><br><br><br><code>&lt;configuration&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;appSettings&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;add key="PayPal_BusinessEmail" value="XXX" /&gt; <br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;/appSettings&gt;<br>&lt;/configuration&gt;<br></code><br><span class="emphasis">To use the PayPal Web Controls in your ASP.NET web application, follow these steps: </span><ol start="1"><li>Install the PayPal Web Controls (see above)</li><li>Open an ASPX page in Design view</li><li>Drag a PayPal Web Control (ex: BuyNowButton) from the PayPal Toolbar onto your ASPX page</li><li>Click on the control and set the properties (ex: BusinessEmail, ItemName, Amount, etc.)</li><li>Save the ASPX page</li></ol><span class="emphasis">To install the PayPal Commerce Starter Kit, follow these steps: </span><ol start="1"><li>Verify that you have the prerequisite applications installed (see prerequisites list on download page)</li><li>Download and save the PayPal "ASP.NET Commerce Starter Kit" MSI file</li><li>Klik dua kali pada fail MSI dan ikut arahan yang diberikan oleh Wizard Pemasangan</li><li>Open your web browser to http://servername/paypalcommerce, where servername is the name (IP address or domain) of the server hosting the PayPal Commerce Starter Kit.</li><li>You should see the home page of the PayPal Commerce Starter Kit</li></ol></td></tr></tbody></table></div></td></tr></tbody></table></div><div id="footer" role="contentinfo"><h5 class="accessAid">More Information</h5><ul><li class="first"><a href="http://www.paypal-media.com/about">About PayPal</a></li><li><a href="https://www.paypal.com/us/cgi-bin/helpscr?cmd=_help&t=escalateTab">Contact Us</a></li><li><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_display-fees-outside">Fees</a></li><li><a href="https://www.paypal.com/developer">PayPal Developers</a></li><li><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_home-merchant">Merchant Services</a></li><li><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_display-country-functionality-outside">Worldwide</a></li><li class="last">
<!-- OnlineOpinionF3cS v3.0-->
<script type="text/javascript" src="/Images/SDK/oo_engine.js"></script><script type="text/javascript">
			var feedback_link='Site Feedback';	O_GoT(feedback_link);custom_var=escape('YV56K2ePwl183kKePj012UtvT8E68AB5FNahEwj6\x252f2E\x252fz19gAyaPGg\x253d\x253d\x5f148df844300')+'|';custom_var+='Unknown|p\x2fpdn\x2fsdk\x5fasp\x5fnet\x5fhow\x2dit\x2dworks\x2doutside\x3a\x3ap\x2fpdn\x2fsdk\x5fasp\x5fnet\x5fhow\x2dit\x2dworks\x2doutside|US|en_US|Unknown|Unknown';// Paypal Custom URL class
			var PayPalURL = function(pagename) {
				this.language_country_code = "en_US";
				this.dd = "US";
				this.nn = "00";this.pagename = escape(pagename.replace(/\s|\//g, "_"));
				this.to_str = function() {
		
				return "https://"+this.dd+".paypal.com/"+this.language_country_code+"/"+this.nn+"/"+this.pagename+".page"
				}
				}
				var paypal_url = new PayPalURL("p\x2fpdn\x2fsdk\x5fasp\x5fnet\x5fhow\x2dit\x2dworks\x2doutside\x3a\x3ap\x2fpdn\x2fsdk\x5fasp\x5fnet\x5fhow\x2dit\x2dworks\x2doutside");
			// Below gives you the ability to change the other properties after the object is created
			//paypal_url.dd="ES";
			//paypal_url.nn="01";
			
		_ht = paypal_url.to_str();
		var _ht_temp=_ht;
		var _hr_temp=_hr;
		custom_var=custom_var + "|Unknown|Unknown";var custom_var_temp=custom_var;</script><a href="javascript:O_LC()">Site Feedback</a> <img src="/Images/SDK/sm_333_oo.gif" alt="Site Feedback"></li></ul><ul><li class="first"><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=p/gen/ua/policy_privacy-outside">Privacy</a></li><li><a href="http://www.thepaypalblog.com/">PayPal Blog</a></li><li><a href="https://www.paypal-labs.com/">PayPal Labs</a></li><li><a href="http://jobs.ebaycareers.com/search/paypal-jobs">Jobs</a></li><li><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=p/gen/ua/ua-outside">Legal Agreements</a></li><li><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=xpt/Marketing/general/SiteMap-outside">Site Map</a></li><li class="last"><a href="http://www.ebay.com/">eBay</a></li></ul><p id="legal">Copyright © 1999-2014 PayPal. All rights reserved.</p></div><div id="navFull" class="hide"></div><script type="text/javascript">if(typeof PAYPAL != 'undefined'){ PAYPAL.core.Navigation.init(); }</script><script type="text/javascript" src="/Images/SDK/widgets.js"></script><div class="acResults hide" style="height: 0px;"><ul></ul></div><script type="text/javascript" src="/Images/SDK/pp_naturalsearch.js"></script><script type="text/javascript">mp_landing();</script>
<!-- SiteCatalyst Code
Copyright 1997-2005 Omniture, Inc.
More info available at http://www.omniture.com -->
<script type="text/javascript" src="/Images/SDK/pp_jscode_080706.js"></script>
<script type="text/javascript">
s.prop1="p\x2fpdn\x2fsdk\x5fasp\x5fnet\x5fhow\x2dit\x2dworks\x2doutside";
s.prop20="1412499260";
s.prop35="out";
s.prop40="fe157b84f2848";
s.prop50="en_US";
s.prop64="";
s.eVar31="p\x2fpdn\x2fsdk\x5fasp\x5fnet\x5fhow\x2dit\x2dworks\x2doutside\x3a\x3ap\x2fpdn\x2fsdk\x5fasp\x5fnet\x5fhow\x2dit\x2dworks\x2doutside";
s.eVar50="YV56K2ePwl183kKePj012UtvT8E68AB5FNahEwj6\x252f2E\x252fz19gAyaPGg\x253d\x253d\x5f148df844300";
s.pageName="p\x2fpdn\x2fsdk\x5fasp\x5fnet\x5fhow\x2dit\x2dworks\x2doutside\x3a\x3ap\x2fpdn\x2fsdk\x5fasp\x5fnet\x5fhow\x2dit\x2dworks\x2doutside";
s.prop56="no";
s.prop18="";
s.prop16="";
s.prop34="PayPalCredit:Servicing:CO:NoTransactions";
</script>
<script type="text/javascript"><!--
/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
function scOnload(){var s_code=s.t();if(s_code)document.write(s_code);}
if(window.addEventListener){
window.addEventListener('load',scOnload,false);
}else if(window.attachEvent){
window.attachEvent('onload', scOnload);
};
if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
//-->
</script><noscript>&lt;img
src="//paypal.112.2O7.net/b/ss/paypalglobal/1/H.6--NS/0?pageName=NonJavaScript"
height="1" width="1" border="0" alt="" /&gt;</noscript>
<!--/DO NOT REMOVE/-->

<!-- End SiteCatalyst Code -->


<!--FirstPartyTracking Code-->

<script type="text/javascript">var browserDisable=0;var choutEnabled=0;
if(browserDisable==0){
if(typeof YUE == 'object'){YUE.addListener(window, "load", function() { PAYPAL.util.lazyLoad("/pa/js/min/pa.js", function() { 
if (typeof(PAYPAL.analytics) !== "undefined" && typeof(PAYPAL.analytics.setup) !== "undefined") { PAYPAL.analytics.setup({ data: "pgrp=p\x252fpdn\x252fsdk\x5fasp\x5fnet\x5fhow\x252dit\x252dworks\x252doutside\x253a\x253ap\x252fpdn\x252fsdk\x5fasp\x5fnet\x5fhow\x252dit\x252dworks\x252doutside&tmpl=p\x252fpdn\x252fsdk\x5fasp\x5fnet\x5fhow\x252dit\x252dworks\x252doutside&pgst=1412499260&lgin=out&calc=fe157b84f2848&rsta=en_US", url: "\x2f\x2ft\x2epaypal\x2ecom\x2fts" }); }
});
});
} else{var FptiUrl ='https://www\x2epaypalobjects\x2ecom\x2fWEBSCR\x2d640\x2d20140906\x2d1/pa/js/min/pa.js';									
									var Fptihead = document.getElementsByTagName('head')[0];
									var FptiScript = document.createElement('script');
									FptiScript.type = 'text/javascript';
									FptiScript.src = FptiUrl;
									Fptihead.appendChild(FptiScript);									
									if (window.addEventListener){
										window.addEventListener("load",  function () {if (typeof(PAYPAL.analytics) !== "undefined" && typeof(PAYPAL.analytics.setup) !== "undefined") { PAYPAL.analytics.setup({ data: "pgrp=p\x252fpdn\x252fsdk\x5fasp\x5fnet\x5fhow\x252dit\x252dworks\x252doutside\x253a\x253ap\x252fpdn\x252fsdk\x5fasp\x5fnet\x5fhow\x252dit\x252dworks\x252doutside&tmpl=p\x252fpdn\x252fsdk\x5fasp\x5fnet\x5fhow\x252dit\x252dworks\x252doutside&pgst=1412499260&lgin=out&calc=fe157b84f2848&rsta=en_US", url: "\x2f\x2ft\x2epaypal\x2ecom\x2fts" }); }
}, false);
									  }  else if (window.attachEvent) {
												window.attachEvent("onload",  function () {if (typeof(PAYPAL.analytics) !== "undefined" && typeof(PAYPAL.analytics.setup) !== "undefined") { PAYPAL.analytics.setup({ data: "pgrp=p\x252fpdn\x252fsdk\x5fasp\x5fnet\x5fhow\x252dit\x252dworks\x252doutside\x253a\x253ap\x252fpdn\x252fsdk\x5fasp\x5fnet\x5fhow\x252dit\x252dworks\x252doutside&tmpl=p\x252fpdn\x252fsdk\x5fasp\x5fnet\x5fhow\x252dit\x252dworks\x252doutside&pgst=1412499260&lgin=out&calc=fe157b84f2848&rsta=en_US", url: "\x2f\x2ft\x2epaypal\x2ecom\x2fts" }); }
});
												} else { window.onload = function(){
																	if (typeof(PAYPAL.analytics) !== "undefined" && typeof(PAYPAL.analytics.setup) !== "undefined") { PAYPAL.analytics.setup({ data: "pgrp=p\x252fpdn\x252fsdk\x5fasp\x5fnet\x5fhow\x252dit\x252dworks\x252doutside\x253a\x253ap\x252fpdn\x252fsdk\x5fasp\x5fnet\x5fhow\x252dit\x252dworks\x252doutside&tmpl=p\x252fpdn\x252fsdk\x5fasp\x5fnet\x5fhow\x252dit\x252dworks\x252doutside&pgst=1412499260&lgin=out&calc=fe157b84f2848&rsta=en_US", url: "\x2f\x2ft\x2epaypal\x2ecom\x2fts" }); }

															   }
														}
								}
							}</script>
<noscript>&lt;img src="https://t.paypal.com/ts?nojs=1&amp;amp;pgrp=p%2fpdn%2fsdk%5fasp%5fnet%5fhow%2dit%2dworks%2doutside%3a%3ap%2fpdn%2fsdk%5fasp%5fnet%5fhow%2dit%2dworks%2doutside&amp;amp;teal=YV56K2ePwl183kKePj012UtvT8E68AB5FNahEwj6%252f2E%252fz19gAyaPGg%253d%253d%5f148df844300&amp;amp;tmpl=p%2fpdn%2fsdk%5fasp%5fnet%5fhow%2dit%2dworks%2doutside&amp;amp;pgst=1412499260&amp;amp;lgin=out&amp;amp;calc=fe157b84f2848&amp;amp;rsta=en_US" height="1" width="1" border="0" alt="" /&gt;</noscript>

</body></html>