@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Hello SyntaxHighlighter</title>
	<script type="text/javascript" src="scripts/shCore.js"></script>
	<script type="text/javascript" src="scripts/shBrushJScript.js"></script>
	<link type="text/css" rel="stylesheet" href="styles/shCoreDefault.css"/>
	<script type="text/javascript">SyntaxHighlighter.all();</script>
</head>

<body style="background: white; font-family: Helvetica">

<h1>Hello SyntaxHighlighter</h1>
<pre class="brush: js;">
                <h2 style="font-size:14pt">Cubalah</h2>
                <div style="border:#000080 1px solid; color:#000; font-family:'Courier New',Courier,Monospace; font-size:10pt">
                <div style="background:#000080; color:#fff; font-family:Verdana,Tahoma,Arial,sans-serif; font-weight:bold; padding:2px 5px">
                Kod Coretan</div>
                <div style="background:#ddd; overflow:auto">
                <ol style="background:#ffffff; margin:0 0 0 2.5em; padding:0 0 0 5px">
                <li><span style="color:#0000ff">using</span> System.Configuration; </li>
				<li><span style="color:#0000ff">namespace</span> fb.Models </li>
				<li style="background:#f3f3f3">{ </li>
				<li style="background:#f3f3f3">&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#0000ff">public</span><span style="color:#0000ff"> class </span><span style="color:#2b91af">PayPalModel</span> </li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;{ </li>
                
                    {
        public string cmd { get; set; }
        public string business { get; set; }
        public string no_shipping { get; set; }
        public string @return { get; set; }
        public string cancel_return { get; set; }
        public string notify_url { get; set; }
        public string currency_code { get; set; }
        public string item_name { get; set; }
        public string amount { get; set; }
        public string actionURL { get; set; }
        
        public PayPalModel(bool useSandbox)
        {
            this.cmd = "_xclick";
            this.business = ConfigurationManager.AppSettings["business"];
            this.cancel_return = ConfigurationManager.AppSettings["cancel_return"];
            this.@return = ConfigurationManager.AppSettings["return"];
            if (useSandbox)
            {
                this.actionURL = ConfigurationManager.AppSettings["test_url"];
            }
            else
            {
                this.actionURL = ConfigurationManager.AppSettings["Prod_url"];
            }
            // We can add parameters here, for example OrderId, CustomerId, etc....
            this.notify_url = ConfigurationManager.AppSettings["notify_url"];
            // We can add parameters here, for example OrderId, CustomerId, etc....
            this.currency_code = ConfigurationManager.AppSettings["currency_code"];      

                <li>&nbsp;&nbsp;&nbsp;&nbsp;} </li>
                <li style="background:#f3f3f3">} </li></ol>
                </div>
                </div>    
                </pre>

</html>