@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <!-- Specify a Buy Now button. --> 
    <input type="hidden" name="cmd" value="_xclick" />

    <!-- Identify your business so that you can collect the payments. --> 
    <input type="hidden" name="business" value="jeroen@xyz.com" /> 

    <!-- Specify details about the item that buyers will purchase. --> 
    <input type="hidden" name="item_name" value="Your PDF file without watermarks" />
    <input type="hidden" name="item_number" value="2ca168a959bb48e28a2ddb4b4640c568" />
    <input type="hidden" name="amount" value="1.99" />
    <input type="hidden" name="currency_code" value="USD" /> 

    <!-- Specify a URL for the payment confirmation page and a page that is displayed
         if the user cancels a transaction. Also specify a URL that PayPal can post IPN
         messages to (see explanation below). --> 
    <input type="hidden" name="return" value="http://xslfop.com/order/complete" />
    <input type="hidden" name="cancel_return" value="http://xslfop.com/order/cancel" />
    <input type="hidden" name="notify_url" value="http://xslfop.com/order/ipn" />

    <!-- Do not prompt customers to include a note with their payment. --> 
    <input type="hidden" name="no_note" value="1" />

    <!-- Display the payment button. -->
    <input type="image" name="submit"
        src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif"
        alt="PayPal — The safer, easier way to pay online." />
    <img src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif"
        width="1" height="1" alt="" />
</form>
